.idea/*
src/server/.env
src/app/.idea/*
src/server/node_modules/*
src/server/.idea/*
src/app/app/release/*
src/app/app/src/main/gen/*
dissertation.jks
data/data/*
data/.idea/*
data/.ipynb_checkpoints/*
data/preprocessing/__pycache__/*
data/venv/*
data/.env
data/.env.example
data/data
data/history
data/nohup.out
data/venv
data/.ipynb_checkpoints
data/saved_reverse_geocodes*
src/server/.env
src/server/certs/*
src/app/app/schemas/*
src/app/local.properties
